.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.loginForm,
.loginFormErrorText {
    position: absolute;
    top: 200px;
    width: 498px;
    height: 570px;
    gap: 70px;
}

.loginFormHeading {
    margin: 0 0 30px 0;
}

.loginFormHeading h1,
.loginFormHeading p {
    margin: 0 0 5px 0;
}

.loginFormHeading p {
    color: var(--color-main);
}

.loginForm label,
.loginFormError label {
    font-family: 'sf', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    color: var(--color-secondary);
}

.loginForm label input,
.loginFormError label input {
    display: block;
    margin: 10px 0 0 0;
}

.loginForm input,
.loginFormError input {
    width: 498px;
    height: 36px;
    border: 1.5px solid var(--color-secondary);
    border-radius: 5px;
    cursor: pointer;
    padding-left: 12px;
}

.loginForm input::placeholder,
.loginFormError input::placeholder {
    font-family: 'sf', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-secondary-text);
}

.loginForm input:hover,
.loginFormError input {
    border: 1.5px solid var(--color-main);
    outline: 1.5px solid var(--color-main);
}

.loginForm input:focus {
    border: 1.5 solid var(--color-highlight);
    outline: 1.5 solid var(--color-highlight);
}

.loginFormErrorText {
    color: var(--color-warning);
    font-family: 'sf';
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

.loginFormSubmitButton {
    cursor: pointer;
    width: 126px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-main);
    color: var(--color-primary-button-text);
    font-family: 'sf', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin: 20px 0 0 0;
}

.forgotPasswordLink {
    font-family: 'sf';
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-main);
}

/* Media Queries */

@media screen and (min-width: 600px) and (max-width: 904px) {
    .login-form-submit-btn,
    .login-form input {
        width: 442px;
    }
}
