header {
    width: 100vw;
}

.main-logo {
    width: 109.84px;
    height: 45px;
}

.main-logo-small {
    width: 57.91px;
    height: 81.02px;
}

.main-logo,
.main-logo-small {
    margin: 40 0 0 50;
}