:root {
  --color-main: #868250;
  --color-secondary: #A5A3A0;
  --color-secondary-text: #C9C7B6;
  --color-highlight: #89887C;
  --color-warning: #BA002D;
  --color-primary-button-text: #FFFFFF;
  --color-footer-text: #3A3822;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('../public/LibreBaskerville-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'sf';
  src: url('../public/sf-ui-display-medium-58646be638f96.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf';
  src: url('../public/sf-ui-display-bold-58646a511e3d9.woff2');
  font-weight: bold;
  font-style: normal;
}


h1 {
  font-family: LibreBaskerville;
}


* {
  font-family: sf;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  color: var(--color-main);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*Background*/

.background {
  position: absolute;
  bottom: 0;
  right: 0;
}